body {
    font-family: "ubunturegular", sans-serif;
    background-color: #fff;
}

h1 {
    /*    text-transform: uppercase;*/
    font-weight: 700;
}


/* responsive text queries */

@media screen and (min-width: 992px) {
    p {
        font-size: 18px;
    }
    .home p {
        font-size: 24px;
        /*text-transform: uppercase;*/
        font-weight: 700;
    }
    .home1 p {
        font-size: 18px;
        /*    text-transform: uppercase;*/
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 18px;
    }
}

.h1-color-orc {
    color: #FF9800;
}

.h1-color-white {
    color: #fff;
}

@media (min-width: 768px) and (max-width: 992px) {
    p {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    /*  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }*/
    p {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .p-dm {
        text-align: center;
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .p-dm {
        text-align: center;
        padding-bottom: 30px;
    }
}


/*Buttons*/

.btn-dm {
    padding: 8px 30px;
}

.btn-dm1 {
    padding: 5px 13px;
}

.color1 {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
}

.color2 {
    color: #fff;
    background-color: #bb5127;
    border-color: #bb5127;
}

.color3 {
    background-color: rgba(255, 152, 0, 0);
    padding: 0px 0px;
    border: 1px solid transparent;
}


/*.btn .btn-orc {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
    text-transform: uppercase;

}

.btn-orc:hover {
    color: #fff;
    background-color: #E28804;
    border-color: #E28804;
}
.btn-orc:active {
    color: #fff;
    background-color: #E28804;
    border-color: #E28804;
}
.btn-orc:focus{
    color: #fff;
    background-color: #E28804;
    border-color: #E28804;
}

.btn-orc.active.focus, .btn-orc.active:focus, .btn-orc.active:hover, .btn-orc:active.focus, .btn-orc:active:focus, .btn-orc:active:hover, .open>.dropdown-toggle.btn-orc.focus, .open>.dropdown-toggle.btn-orc:focus, .open>.dropdown-toggle.btn-orc:hover {
    color: #fff;
    background-color: #E28804;
    border-color: #984120;
}*/


/*Top navbar*/

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #FFB322;
    background-color: rgba(231, 231, 231, 0);
}

.dropdown-menu {
    background-color: rgba(10, 10, 10, 0.73);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a {
    line-height: 2.5;
    color: #FFF;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #FFFFFF;
    background-color: #FFB322;
}


/*slider*/

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #F29C37;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    width: 100%;
}

.swiper-dm {
    position: absolute;
    right: 44%;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.swiper-container-autoheight .swiper-slide img {
    width: 100%;
}


/*ticker*/

.tickerbg {
    background-color: rgb(33, 33, 33);
    border-bottom: 1px solid rgba(221, 221, 221, 0.32);
    color: #fff;
    font-size: 13px;
    position: fixed;
    /* bottom: 0px; */
    z-index: 1000;
    width: 100%;
    height: 25px;
    line-height: 25px;
}

a {
    color: #fff;
    tetext-decoration: none;
}

a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

.ticker {
    /* margin: 15px auto; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ticker div {
    display: inline-block;
    word-wrap: break-word;
}


/*bg-mobile*/

.bg-mobile {
    width: 100%;
    height: 100%;
    background: url("../../assets/images/bg-fm.JPG") center/cover no-repeat;
    padding-top: 40px;
    text-align: center;
}

.bg-mobile h2 {
    color: #fff !important;
}

.bg-mobile ul.about-list li {
    font-weight: normal!important;
    font-size: 18px;
    margin-bottom: 10px;
}

.bg-mobile1 {
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.bg-counting {
    width: 100%;
    height: 100%;
    background: url("../../assets/images/bg-counting.JPG") center/cover no-repeat;
}


/*counting number*/

.numscroller {
    font-size: 36px;
    font-weight: 700;
    color: #5b5b5b;
}

.couning-h3 {
    margin-top: 0px;
}

.box-couning {
    padding: 40px;
}


/*Testimonials*/

.bg-testimonials {
    width: 100%;
    height: 100%;
    background: url("../../assets/images/bg-fm-2.JPG") center/cover no-repeat;
    padding: 10px 0px;
}

.bg-testimonials h2 {
    margin-top: 15px;
    color: #565656;
}


/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 15px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 24px;
    text-shadow: none;
    margin-top: 30px;
    border: none;
}

#quote-carousel .carousel-control img {
    width: 35px;
    height: 35px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: 0px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: 0px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}


/*our partin*/

.carousel {
    margin-bottom: 0;
    padding: 40px 40px 30px 40px;
}


/* The controlsy */

.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}

.carousel-control.right {
    right: -12px;
}


/* The indicators */

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* The colour of the indicators */

.carousel-indicators li {
    background: #cecece;
}

.carousel-indicators .active {
    background: #428bca;
}


/*footer*/

.section-title.center .line {
    border-top: 4px solid #fcac45;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.section-title.center hr {
    border-top: 4px solid rgba(252, 172, 69, 0.34);
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 17%;
}

.section-title h2,
.section-title.center h2 {
    font-weight: 300;
}

.footer-background {
    background-color: #1a1b1d;
    color: #ffff;
}

.footer-background dl {
    color: #9E9E9E;
    padding-top: 20px;
}

.footer {
    bottom: 0;
    padding: 20px 0px;
    width: 100%;
    background-color: #141516;
}

.text-muted {
    color: #777;
    padding-top: 10px;
}

dt {
    font-weight: 700;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Product*/

.panel-info>.panel-heading {
    color: #FFFFFF;
    background-color: #FEB121;
    border-color: #FEB121;
}

.panel-info {
    border-color: #FEB121;
}

.section-title hr {
    border-color: #fcac45;
    border-width: 4px;
    width: 60px;
    float: left;
    clear: both;
    margin-top: 0;
}

.section-title h2 a,
.section-title.center h2 a{
    font-family: 'ubuntulight';
    font-size: 40px;
    color: rgb(109, 109, 109)!important;  
    /*text-transform: uppercase;*/
}

.row .dm-bottom {
    margin-bottom: 30px;
}

ul,
ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

ul.about-list li {
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
}

ul.about-lists li .fa {
    margin-left: -20px;
    color: #FEB121;
}

ul.about-lists li {
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
    text-align: center;
}

ul.about-list li .fa {
    margin-left: -20px;
    color: #FEB121;
}

b,
strong {
    color: #FEB121;
}

.bg-mobile.bg-mobile-color,
.bg-mobile.bg-mobile-color strong,
.bg-mobile.bg-mobile-color span {
    color: #fff;
    font-weight: 600;
}


/*fieldmaxpharma*/

.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 80%;
    position: relative;
    background-color: #fff;
    color: #FEB121;
}

.circle-border {
    border: 5px solid rgb(167, 86, 12);
}

.circle-solid {
    background-color: whitesmoke;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #A7560C;
}

footer {
    padding-top: 20px;
    background: #2D2D2D;
    color: #eee;
    width: 100%;
}

#footer-bottom {
    border-top: 1px solid #585858
}

#footer-left,
#footer-right {
    font-size: 11px;
    padding: 10px 0;
}

.footer-phone {
    padding-top: 20px;
    background: #2D2D2D;
    margin-top: 20px;
    color: #eee;
    margin-left: -20px;
    margin-right: -20px;
}

.span3 {
    float: left;
    width: 270px;
}

.dm-height {
    height: 180px;
}

.fa-2x {
    padding-right: 5px;
    color: #9E9E9E;
}

.form-control {
    color: #fff;
    background-color: rgb(68, 73, 78);
    background-image: none;
    border: 1px solid #1D1D1D;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-default {
    color: #FFF;
    background-color: #FF9800;
    border-color: #FF9800;
}

.btn-default:hover {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
}

.btn-default.focus,
.btn-default:focus {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800;
}

.span {
    font-size: 18px;
    padding: 0px 0px 20px 0px;
}

.img-rounded {
    border-radius: 0px;
}

.footer-background input.form-control {
    height: 36px!important;
}

.navbar.smaller {
    position: fixed!important;
    top: 0;
    background: #0f0f12 !important;
    min-height: 59px !important;
    -webkit-box-shadow: -2px 5px 69px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 5px 69px 20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 5px 69px 20px rgba(0, 0, 0, 0.75);
    -webkit-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
}

.bg-video {
    width: 100%;
    height: 100%;
    background-color: #4C4F54;
    padding: 30px;
}

.bg-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

dd {
    margin-left: 0;
    padding: 5px 0px 5px 0px
}

.modal-body {
    position: relative;
    padding: 15px;
    background-color: whitesmoke;
    text-align: center;
    text-align: -webkit-center;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #FFF;
    text-decoration: none;
}
.write-to-us{
    color: #fff;
    font-weight: 700;
    background: #EF8E04;
    border-radius: 5px;
    padding: 7px 15px!important;
    margin-top: 8px; 
    margin-left:10px;:
}
.write-to-us:hover {
    background: #EF8E04 !important;
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a.write-to-us:hover {
    color: #fff !important;
}

@media (min-width: 992px) {
    .modal-xlg {
        width: 1100px;
    }
}

.logo-top {
    margin: 30px 0;
}

.logo-top .slide_container {
    height: 80px!important;
}

ul.slide {
    margin: 0;
    padding: 0;
    height: auto!important;
    list-style-type: none;
    float: left;
}

ul.slide li {
    float: left;
    list-style-type: none;
    margin: 0
}

ul.slide img {
    height: 80px;
    margin: 0 15px
}

.badge {
    font-weight: normal!important;
    background-color: #353535!important;
}

.customer-stories-form input {
    background: #fff;
    height: 45px;
    border: 1px solid #B3B3B3;
    border-radius: 0;
    font-size: 16px;
}

.settings-content-block {
    text-align: left!important;
}

.settings-content-block h1 {
    font-size: 30px;
    font-family: mulibold;
    margin-bottom: 20px
}

.settings-content-block ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0
}

.settings-content-block ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 35px;
    list-style-type: circle
}

.settings-content-block ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: underline
}

.settings-content-block ol {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0
}

.settings-content-block ol li {
    margin-bottom: -6px;
    color: #AFAEAE;
    font-size: 13px;
    margin-left: 35px;
    padding-bottom: 15px
}

.settings-content-block h2 {
    font-size: 16px!important;
    padding: 0;
    float: left;
    width: 100%;
    font-weight: normal;
    font-family: 'ubuntumedium'!important;
}

.settings-content-block h3 {
    font-size: 13px;
    font-family: mulibold;
    margin: 10px 0 6px;
    padding: 0;
    float: left;
    width: 100%;
    color: #fff
}

.settings-content-block h4 {
    font-size: 16px;
    font-family: mulibold;
    margin-top: 30px;
    padding: 0;
    float: left;
    width: 100%;
    text-transform: uppercase
}

.settings-content-block h4.mt15 {
    margin-top: 15px!important
}

.settings-content-block p {
    font-size: 14px;
    /* margin-top: 20px; */
    color: #7B7B7B;
    float: left;
    width: 100%;
}

.settings-content-block p a {
    color: #fff!important;
    text-decoration: underline
}

.settings-content-block p strong {
    font-weight: 400!important;
    font-family: mulibold
}

.settings-content-block p span {
    font-family: mulibold;
    color: #fff
}

.settings-content-block .content-sub-listing li {
    margin-bottom: -6px;
    color: #949494;
    font-size: 13px;
    list-style: square outside none
}

.settings-content-block .order-list {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0
}

.settings-content-block .order-list li {
    color: #AFAEAE;
    font-size: 13px;
    margin-left: 20px;
    padding-bottom: 3px;
    float: left;
    display: block!important
}

.settings-content-block .order-list li span {
    padding-left: 35px;
    float: left;
    margin-top: -18px;
    width: 100%
}

.background-001 {
    width: 100%;
    padding: 60px 0 0px 0;
    background-color: #353535;
    color: #fff;
}

.background-002 {
    width: 100%;
    padding: 40px 0 40px 0;
    background-color: #353535;
    color: #fff;
}

.background-003 {
    width: 100%;
    padding: 80px 0 80px 0;
    background: url("../../assets/images/slide-retail-industry.jpg") center/cover no-repeat;
    color: #fff;
}

.background-006 {
    width: 100%;
    padding: 80px 0 80px 0;
    background: url("../../assets/images/partners.jpg") center/cover no-repeat;
    color: #fff;
}

.background-004 {
    width: 100%;
    padding: 40px 0 40px 0;
    background: url("../../assets/images/bg-fm.JPG") center/cover no-repeat;
    color: #fff;
}

.background-005 {
    width: 100%;
    padding: 80px 0 80px 0;
    background: url("../../assets/images/cpg-promo-img-01.jpg") center/cover no-repeat;
    color: #fff;
}

.no-float {
    float: none !important;
}

.inline-block {
    display: inline-block;
}

.widget {
    z-index: 1000;
    padding-top: 140px;
    position: absolute;
    right: 30px;
}

.anim750 {
    transition: all 750ms ease-in-out;
}

#Awesome {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    backface-visibility: hidden;
}

#Awesome .sticky {
    transform: rotate(45deg);
}

#Awesome:hover .sticky {
    transform: rotate(10deg);
}

#Awesome .sticky {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
}

#Awesome .reveal .circle {
    box-shadow: 0 1px 0px rgba(0, 0, 0, .15);
    font-family: 'helvetica neue', arial;
    font-weight: 200;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
}

#Awesome .reveal .circle {
    background: #fafafa;
}

#Awesome .circle_wrapper {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

#Awesome .circle {
    position: absolute;
    width: 140px;
    height: 140px;
    margin: 20px;
    border-radius: 999px;
}

#Awesome .back {
    height: 10px;
    top: 30px;
}

#Awesome:hover .back {
    height: 90px;
    top: 110px;
}

#Awesome .back .circle {
    margin-top: -130px;
    background-color: #fbec3f;
    background-image: -webkit-linear-gradient(bottom, rgba(251, 236, 63, .0), rgba(255, 255, 255, .8));
}

#Awesome:hover .back .circle {
    margin-top: -50px;
}

#Awesome .front {
    height: 150px;
    bottom: 0;
    top: auto;
    -webkit-box-shadow: 0 -140px 20px -140px rgba(0, 0, 0, .3);
}

#Awesome:hover .front {
    height: 70px;
    -webkit-box-shadow: 0 -60px 10px -60px rgba(0, 0, 0, .1);
}

#Awesome .front .circle {
    margin-top: -10px;
    background: #fbec3f;
    background-image: -webkit-linear-gradient(bottom, rgba(251, 236, 63, .0) 75%, #f7bb37 95%);
    background-image: -moz-linear-gradient(bottom, rgba(251, 236, 63, .0) 75%, #f7bb37 95%);
    background-image: linear-gradient(bottom, rgba(251, 236, 63, .0) 75%, #f7bb37 95%);
}

#Awesome h4 {
    font-family: 'helvetica neue', arial;
    font-weight: 200;
    text-align: center;
    position: absolute;
    width: 180px;
    height: 140px;
    line-height: 140px;
    transition: opacity 50ms linear 400ms;
}

#Awesome:hover h4 {
    opacity: 0;
    transition: opacity 50ms linear 300ms;
}

#Awesome:hover .front .circle {
    margin-top: -90px;
    background-color: #e2d439;
    background-position: 0 100px;
}

.white-p-s b,
strong {
    color: #FFFFFF;
    font-weight: 300;
}

/*6/8/2016*/

.background-007 {
    background-color: #F0F0F0;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu .nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #060606;
}

.dropdown-menu .nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #060606;
}
